<div class="top-menu">
  <img src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" alt="Angular Academy Logo"
       class="logo"/>
</div>
<!--4066695776030607834-->
<h4 i18n>Welcome to the Angular Core Deepdive Course</h4>
<!--4568526882955820641-->
<button (click)="onAddCourse()" i18n>Add Course</button>
<div class="card">Test div</div>
<app-signal-button></app-signal-button>
@defer {
  <div class="courses">
    @for (course of (COURSES | filterByCategory: 'BEGINNER'); track $index) {
      <app-course-card [course]="course" (courseSelected)="onCourseClicked($event)" class="">
        <img src="{{ course.iconUrl }}" alt="{{ course.title }}" class="card-icon">
        <p>Additional content</p>
      </app-course-card>
    } @empty {
      <div class="empty">
        No courses found
      </div>
    }
  </div>
}
@placeholder() {
  <div class="loading">
    Placeholder...
  </div>
} @loading () {
  <div class="loading">
    Loading...
  </div>
}

<router-outlet/>
